#ignore thumbnails created by windows
Thumbs.db
# Ignore files build by ndk and eclipse
libs/
bin/
obj/
gen/
assets/
#.classpath
#.project
#.cproject
local.properties

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store
xcuserdata/

# Ignore vim swaps
*.swp